*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: auto;
    text-align: center;
    flex-direction: column;
    margin: 0.3rem;
}

h1 {
    color: #0866ff;
}

form {
    margin-top: 2rem;
}

input {
    padding-right: 25px;
    padding-top: 0.35rem;
    padding-bottom: 4px;
    border-radius: 6px;
    margin: 0.4rem;
    background-color: rgb(254, 241, 223);
    border: 1px rgb(254, 241, 223) solid;
    font-size: 1.1rem;
}

#login {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    padding-right: 105px;
    padding-left: 104px;
    padding-top: 0.42rem;
    padding-bottom: 6px;
    border-radius: 5px;
    background-color: #0866ff;
    border: #0866ff 1px solid;
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
}

a {
    text-decoration: none;
  }

#forgot-password{
    margin-bottom: 1.5rem;
}

#or{
    margin-bottom: 1.7rem;
}

#createAc {
    font-size: 1rem; 
    font-weight: 800;
    color: aliceblue;
    background-color: #08af25;
    border: #08af25 solid 1px;
    padding: 5px;
}