body{
    background-color: antiquewhite;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

form ul > li {
    font-size: 5rem;
    font-weight: bold;
    padding: 10px;
}